In [6]:
%pylab inline
import networkx as nx
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
import plotly.plotly as py
from plotly.graph_objs import *
import pandas as pd
import numpy as np
import itertools
import plotly.tools as tls
import pickle
import yaml
import os
credentials = yaml.load(open(os.path.expanduser('plotlyCred.yml')))
plotly.tools.set_credentials_file(credentials.get('username'), api_key=credentials.get('api_key'))

In [2]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

# Loading data

In [3]:
df = spark.read.parquet("s3a://meetupdf/topic_df")

In [22]:
df.show(5)

+--------+---------+-------------+--------------------+----------+
|group_id| event_id|   event_time|               topic|group_city|
+--------+---------+-------------+--------------------+----------+
|18717087|238024816|1494437400000|communication skills|    London|
|18628440|237343136|1488299400000|       microservices| Bucharest|
| 1563505|238023271|1488434400000|         new in town|     Paris|
| 2849712|238010279|1489201200000|         sport bikes|    Corona|
|19091202|238024817|1488477600000|  startup businesses|     Paris|
+--------+---------+-------------+--------------------+----------+
only showing top 5 rows

# Convert DF to Pd

In [8]:
def convert_pd_datetime(df):
	'''input: a sparksql dataframe
		output: a panda dataframe that has converted timestamp to datetime '''
	urlkey_df = df.toPandas()
	urlkey_df['datetime'] = pd.to_datetime(urlkey_df['event_time'],unit = 'ms')
	urlkey_df['date'] =  pd.DatetimeIndex(urlkey_df['datetime']).date
	return urlkey_df

In [9]:
urlkey_df = convert_pd_datetime(df)

In [10]:
urlkey_df.head(20)

,group_id,event_id,event_time,topic,group_city,datetime,date
0,18717087,238024816,1.494437e+12,Communication Skills,London,2017-05-10 17:30:00,2017-05-10
1,18628440,237343136,1.488299e+12,Microservices,Bucharest,2017-02-28 16:30:00,2017-02-28
2,1563505,238023271,1.488434e+12,New In Town,Paris,2017-03-02 06:00:00,2017-03-02
3,2849712,238010279,1.489201e+12,Sport Bikes,Corona,2017-03-11 03:00:00,2017-03-11
4,19091202,238024817,1.488478e+12,Startup Businesses,Paris,2017-03-02 18:00:00,2017-03-02
5,12328622,qtbsmmywfbhb,1.488703e+12,Holland,Melbourne,2017-03-05 08:30:00,2017-03-05
6,1135121,tgdbbmywfbcb,1.488415e+12,Running,Chicago,2017-03-02 00:30:00,2017-03-02
7,19538170,qghvrlywpbjc,1.513508e+12,Museum,Gwernaffield,2017-12-17 11:00:00,2017-12-17
8,22048639,237313741,1.488476e+12,JavaScript,Berlin,2017-03-02 17:30:00,2017-03-02
9,22048639,237313741,1.488476e+12,Cloud Computing,Berlin,2017-03-02 17:30:00,2017-03-02
10,18678915,238031183,1.490430e+12,Outdoors,Barcelona,2017-03-25 08:15:00,2017-03-25
11,3916212,238026438,1.489873e+12,Social,Cincinnati,2017-03-18 21:30:00,2017-03-18
12,18952017,zrbwkmywfbcb,1.488366e+12,Dance Lessons,Singapore,2017-03-01 11:00:00,2017-03-01
13,20769662,237783278,1.488587e+12,Japanese and English Language Exchange,Yokohama,2017-03-04 00:30:00,2017-03-04
14,1516787,238026367,1.490456e+12,Stress Management,Dubai,2017-03-25 15:30:00,2017-03-25
15,20359260,qgpnxlywdbkc,1.488222e+12,Tennis for Beginners,Rutherglen,2017-02-27 19:00:00,2017-02-27
16,15285312,dwwgwkywfbfc,1.490303e+12,Sports and Socials,Galway,2017-03-23 21:00:00,2017-03-23
17,2523952,blbhlmywfbcb,1.488409e+12,Learn Soul Line Dancing,Raleigh,2017-03-01 23:00:00,2017-03-01
18,16577542,238026014,1.490999e+12,Apex,Holly Springs,2017-03-31 22:30:00,2017-03-31
19,18750919,237810423,1.488933e+12,Food and Drink,New York,2017-03-08 00:30:00,2017-03-08

In [45]:
sf_pd = urlkey_df.ix[urlkey_df['group_city'] =="San Francisco"]

In [60]:
def unique_urlkey(df):
    return df['urlkey'].unique()
def top_urlkey_count(df):
    urlkey_count = df.groupby('urlkey')['group_id'].count()
    urlkey_count = pd.DataFrame(urlkey_count)
    return urlkey_count

In [22]:
def timeseries_topn_urlkey(df,n):
    """Input: DataFrame and N: number of urlkeys you want to plot
    Output: DataFrame that have top n values for everyday """
    #get urlkey count
    urlkey_count = df.groupby('topic')['group_id'].count()
    urlkey_count = pd.DataFrame(urlkey_count)
    
    # sort urlkey count in descending order
    ordered_urlkey_count = urlkey_count.sort_values('group_id', ascending=False)
    pop_topics_list = ordered_urlkey_count.index.values[:10].tolist()
    
    # get the top N values
    pop_urlkey_count = ordered_urlkey_count.index.values[:n].tolist()
    
    #create timeseries 
    new_topic_pd = df[['topic','date']]
    topic_index = new_topic_pd['topic'].isin(pop_topics_list)
    top_100_topic_pd = new_topic_pd[topic_index]
    
    #get urlkey count/day 
    crosstab_topic_date = pd.crosstab(top_100_topic_pd['date'],top_100_topic_pd['topic'])
    return crosstab_topic_date

In [46]:
sf_timeseries = timeseries_topn_urlkey(sf_pd,6)

# Plotting data

In [47]:
py.iplot([{
    'x': sf_timeseries.index,
    'y': sf_timeseries[col],
    'name': col
}  for col in sf_timeseries.columns])

In [40]:
def create_time_series_pd(df):
    topic_count = df.groupby('topic')['group_id'].count()
    topic_count = pd.DataFrame(topic_count)
    ordered_topic_count = topic_count.sort_values('group_id', ascending=False)
#     pop_topics_list = ordered_topic_count.index.values[:10].tolist()
    pop_topics_list = ['Tech','Data Science','Web Development','Python', 'Data Analytics','Spark','JavaScript','Hadoop']
    new_topic_pd = df[['topic','date']]
    topic_index = df['topic'].isin(pop_topics_list)
    top_100_topic_pd = new_topic_pd[topic_index]
    crosstab_topic_date = pd.crosstab(top_100_topic_pd['date'],top_100_topic_pd['topic'])
    return crosstab_topic_date

In [41]:
len(urlkey_df)

2132034

In [42]:
ts_bycat = create_time_series_pd(urlkey_df)

In [43]:
ts_bycat.head(5)

topic,Data Analytics,Data Science,Hadoop,JavaScript,Python,Web Development
date,,,,,,
2017-02-23,76,52,44,101,40,269
2017-02-24,53,43,39,91,57,211
2017-02-25,55,45,33,73,47,169
2017-02-26,21,8,33,35,19,63
2017-02-27,32,21,35,52,19,128

In [48]:
py.iplot([{
    'x': sf_timeseries.index,
    'y': sf_timeseries[col],
    'name': col
}  for col in sf_timeseries.columns])

In [44]:
py.iplot([{
    'x': ts_bycat.index,
    'y': ts_bycat[col],
    'name': col
}  for col in ts_bycat.columns])